# IDE Config files
.vs/
.vscode/

# Windows Kernel Mode Driver build files
x64/

# Linux Kernel module build files
*.cmd
*.o
*.d
*.ko
*.mod
*.mod.c
*.symvers
*.order

# Some debugging files
*.asm
*.swp
*.~
