name: Build Linux Kernel Module

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build kernel module
      run: |
        cd kernel/lkm/
        make
